.action {
    margin:10px;
    cursor: pointer;
    color: #666;
}

.action:hover{
    text-decoration: underline;
}

.right {
    float: right;
    margin-bottom: 10px;
}

.btn {
    margin-right: 10px;
}

.custom-select {
    width: 300px !important;
}