.topbar-header {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #666;
    color: whitesmoke;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login {
    float:right;
}