.error {
    color: red;
}

.loginWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginCard {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #a1c534;
}

.form-control {
    width: 300px !important;
}