.appWrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    padding: 40px;
}

.appContent {
    flex: 1;
    padding: 0 50px;
    margin-left: 20px;
    background-color: whitesmoke;
    border-radius: 10px;
}